.footer {
    background-color: #2563EB;
    color: black;
    padding: 20px;
}

.footer .fab {
    color: black;
    margin-right: 15px;
}

.footer .fab:hover {
    color: white; 
}

.footer img {
    filter: invert(100%);
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .footer {
        text-align: center; 
    }

    .footer .row {
        flex-direction: column; 
        align-items: center;
    }

    .footer .col-md-4 {
        margin-bottom: 20px; 
    }
}
